
p {
  font-size: 12px;
  color: gray;
}
a { color: #369; }
.main_content { width: 960px; margin: 20px auto; }
.vis_wrapper { width: 100%; padding-top: 20px; margin: 20px 0; border-top: 1px solid #ddd; }
