body {
  background-color: #eee;
}

h3 {
  color : #444;
  font-weight: normal;
}
p {
  font-size: 12px;
  color: gray;
}
a { color: #369; }
.main_content {
  width: 940px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px 40px;
  box-shadow: 0px 0px 32px #ccc;
}
.vis_wrapper { width: 100%; padding-top: 20px; margin: 20px 0; border-top: 1px solid #ddd; clear: both; }
.vis_wrapper p { width: 650px; margin-left: 55px; float: left; }
